html {
    background-color: lavender;
}
.rundesbild {
    border-radius: 100%;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilbild{
    width: 10%;
    box-shadow: 5px 5px 5px grey;
    margin-top: 3%;
}
img:hover{
    opacity: 0.6;
}
.profilbutton {
    color: darkblue;
    background: powderblue;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10%
}
.profilbutton:hover {
    background-color: midnightblue;
    color: white;
}
.fakebooktitel {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(to right, rgb(75,0,130), rgb(230, 106, 213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navigationul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(98,0,255);
    background: linear-gradient(90deg, rgba(98,0,255,0.4317927854735645) 0%, rgba(104,16,166,0.3561625333727241) 38%, rgba(0,212,255,0.4738095921962535) 100%);
    box-shadow: 5px 5px 5px grey;
}
.navigationli {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgba(98,0,255,0.4);
}
.fett {
    font-weight: bold;
}
p {
    font-size: 1.3rem;
}
#fotogallerie{
    height: 90vh;
}